


<section>

<div class="filter">

  <div class="in">
    <h1>Filter by</h1>
    <hr>

    <button (click)="price()">Price  <span>{{ plus1 }}</span></button>

    <ul class="Collection" [ngClass]="collStyle2 ? 'labels' : ''">
      <li>
        <input type="range" class="form-range" id="customRange1" min="2" max="20" [(ngModel)]="Price">
      </li>
      <li>{{ Price }}.00 $</li>
    </ul>
    <hr>
  </div>


  <div class="cards">

  </div>
</div>



<div style="
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin-top: 20px;
gap: 50px;">

  <ng-container *ngFor="let el of data; let i = index">

    <div class="cards" routerLink="/Product" [queryParams]="el"
      *ngIf="el.price >= Price">

      <div class="div" style="cursor:pointer">

        <div class="img">
          <img [src]="el.image" alt="" class="img1">
        </div>

        <h2>{{ el.name }}</h2>
        <h3>$ {{ el.price }}</h3>

      </div>

      <button>Add to art</button>

    </div>
  </ng-container>



</div>


</section>






