

<section>

  <div class="top-footer">

    <div class="list">
      <h1>Get to Know <br> Bloom's Tea Better</h1>

      <ul>
        <li><a routerLink="/Tea">Shop</a></li>
        <li><a routerLink="/Extras">Extras</a></li>
        <li><a routerLink="/About">About</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contact</a></li>
      </ul>

      <a href="">Visit Our Stores</a>
      <p>Customer service: 123-456-7890</p>
    </div>

    <div class="help">
      <h3>Help</h3>

      <ul>
        <li><a href="">FAQ</a></li>
        <li><a href="">Shipping & Returns</a></li>
        <li><a href="">Store Policy</a></li>
        <li><a href="">Payment Methods</a></li>
      </ul>

    </div>


    <div class="follow">
      <h3>Follow Us</h3>



      <ul>
        <li><a href="">Facebook</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Pinterest</a></li>
      </ul>
    </div>

    <div class="email">
      <div class="input">
        <input type="email" name="" id="" placeholder="Enter your email here">
        <button><a>Subscribe Now</a></button>
      </div>
    </div>

  </div>
   <hr>

   <div class="down-footer">
    <p>©2035 by Bloom's Tea. Powered and secured by Omo</p>

    <a (click)="scrollUp()"><i class="bi bi-airplane"></i> Back to top</a>
   </div>
</section>






