

section
{
  width: 100%;
  height: 600px;
  display: flex;
}


.img
{
  background-image: url(../../../../assets/about.bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}


h1
{
  font-family: var(--font-1);
  color: #fff;
  margin-top: 100px;
}


@media screen and (max-width: 767px){

  section
  {
    height: 400px;
  }

}



