
<section>

  <div class="main">

    <div class="pages">
      <ul>
        <li><a routerLink="/Tea">Teas</a></li>
        <li><a routerLink="/Extras">Extras</a></li>
        <li><a routerLink="/About">About</a></li>
        <li><a routerLink="/Blog">Blog</a></li>
        <li><a routerLink="/Contact">Contact</a></li>
      </ul>
    </div>

    <div class="bloom-tea">
      <h3><a routerLink="">BLOOM'S TEA</a></h3>
    </div>

    <div class="links">
      <ul>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/"target="_blank" ><i class="bi bi-instagram"></i></a></li>
        <li><a href="https://www.pinterest.com/" target="_blank"><i class="bi bi-pinterest"></i></a></li>
      </ul>
    </div>

  </div>

  <div class="line"></div>


</section>
