


<section>


  <div class="main">

    <p class="allPost" routerLink="/Blog">All Posts</p>

    <i class="bi bi-search"></i>

    <div class="post d-flex">

      <div class="person d-flex gap-3">
        <img style="width: 50px; height: 50px;" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_thumb,h_170,w_170,f_auto,g_faces,z_0.7,b_white,q_auto:eco,dpr_1/tibh53qa4xwonuxgsiqo" alt="image">

        <p>Admin</p>

        <p style="font-size: 25px;">·</p>

        <p>Nov 25, 2022</p>

        <p style="font-size: 25px;">·</p>

        <p>1 min read</p>

        <i class="bi bi-three-dots-vertical" style="position: absolute; right: 0;"></i>
      </div>

      <h1>{{ cardArr.title }}</h1>

      <img [src]="cardArr.img" alt="">

      <p class="content">{{ cardArr.content }}</p>

      <hr>

      <div class="d-flex icons">
        <i class="bi bi-facebook"></i>

        <i class="bi bi-twitter"></i>

        <i class="bi bi-linkedin"></i>

        <i class="bi bi-link-45deg"></i>
      </div>

      <hr>
    </div>

  </div>


</section>










