section
{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

header
{
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 15%;
  margin-block-start: 150px;
}


header h1
{
  font-family: var(--font-1);
  font-size: 36px;
}

header h1::before
{
  content: '';
  position: absolute;
  width: 25%;
  height: 1px;
  background-color: #000;
  top: 50%;
  left: 10px;
}

header h1::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 1px;
  background-color: #000;
  top: 50%;
  right: 10px;
}




div
{
  width: 70%;
  margin-inline: 15%;
  margin-block: 100px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 50% 50%;
  gap: 32px;
  place-content: center;
}


div p
{
  font-family: var(--font-2);
  font-weight: 300;
  line-height: 1.4em;
  font-size: .95em;
}
