

<app-buy-first></app-buy-first>


<section>

  <div class="main">

    <div class="list">
      <h5>My cart</h5>

      <hr>

      <div class="cards">
        <div class="img"></div>

        <div class="describe">
          <h6>Tea Name</h6>


          <p>8.00$</p>
          <p style="color: var(--col-2);">size: 125Gr</p>
        </div>

        <br>

        <div class="quantity">
          <span style="top: -0.3000000000000007px; left: -15px; width: 7px;">-</span>

          <span style="left: 2px; font-family: var(--font-3);">0</span>

          <span style="top: -1.5px; right: -17px;">+</span>
        </div>

        <div class="full-card-price" >
          <h6>$24.00</h6>
        </div>

        <i class="bi bi-x-lg"></i>

      </div>
      <hr>
    </div>

    <div class="buy">

    </div>

  </div>

</section>
