

<app-product-page-first></app-product-page-first>




<section>

<div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a  routerLink="/Home">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="arr.type == 'extras' ? '/Extras' : '/Tea'">{{ arr.type == 'extras' ? 'Extras' : 'Tea' }}</a></li>
      <li class="breadcrumb-item active" >{{arr.name}}</li>
    </ol>
  </nav>

</div>


<div class="card-place">

  <div class="product-img">
    <img [src]="arr.shop_image" alt="">
  </div>

  <div
  style="margin-left: 20px;"
  class="product-info">
    <h1>{{arr.name}}</h1>

    <p>$ {{arr.price}}</p>

    <p>{{arr.discribe}}</p>

    <p *ngIf="arr.size" style="font-weight: 400;">Size - {{arr.size}}Gr</p>

    <button
    class="btn1"
    (click)="cartAdder()"
    style="
    background: none;
    color: var(--col-1);;"
    >Add to Cart</button>

    <button
    class="btn2"
    (click)="cartAdder()"
    routerLink="/Buy"
    style="
    background: var(--col-1);
    color: #fff;"
    >Buy Now</button>

  </div>

</div>


<!-- <app-product-swiper></app-product-swiper>  Not use -->






</section>






