
<app-contact-first></app-contact-first>




<section>


    <h2 class="title">You're Welcome to Visit</h2>

    <div class="main d-flex">

      <div class="left">

        <h5>Have a Question? We're Here to Help</h5>

        <p>Email us at info@my-domain.com or send us a message via the contact <br> form below and we'll get back to you</p>

        <div class="input">
          <input type="text" placeholder="Name">

          <input type="email" placeholder="Email">
        </div>

        <input type="text" placeholder="Type your message here...">

        <button>Subtim</button>

      </div>

      <div class="right">

        <h5>Our Stores</h5>

        <p>500 Terry Francois Street San <br> Francisco, CA 94158 Tel: <br> 123-456-7890</p>

        <hr style="width: 50px; color: black;">

        <p style="margin-bottom: 40px;">500 Terry Francois Street San <br> Francisco, CA 94158 Tel: <br> 123-456-7890</p>

        <h5>Opening Hours</h5>

        <p style="margin-bottom: 7px;">Mon - Fri: 8am - 8pm</p>

        <p style="margin-bottom: 7px;">​​Saturday: 9am - 9pm</p>

        <p style="margin-bottom: 7px;">​Sunday: 9am - 10pm</p>
      </div>

    </div>


    <app-contact-map></app-contact-map>
</section>





