
section
{
  width: 100%;
  height: 970px;
  display: grid;
  grid-template-rows: 20% 70% 10%;
}

@media screen and (max-width: 1823px) {
  section
  {
    height: 1600px;
  }
}

header
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

header h1
{
  position: relative;
  font-size: 36px;
  font-family: var(--font-1);
  font-weight: 300;
}

header h1::before
{
  content: '';
  position: absolute;
  width: 280%;
  height: 1px;
  background-color: black;
  left: -290%;
  top: 50%;
}

header h1::after {
  content: '';
  position: absolute;
  width: 280%;
  height: 1px;
  background-color: black;
  left: 115%;
  top: 50%;
}

header p
{
  font-size: 17px;
  font-family: var(--font-2);
  font-weight: 300;
  margin-bottom: 0;
}




.cards
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box
{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}




.box h3
{
  width: fit-content;
  margin-bottom: 0;
}

.tea
{
  font-family: var(--font-1);
  font-weight: 300;
}

.price
{
  font-family: var(--font-2);
  font-weight: 300;
}



.btn
{
  display: grid;
  place-content: center;
}

.btn button
{
  width: 159px;
  height: 40px;
  background-color: #242A35;
  border: none;
  font-size: 17px;
  color: #fff;
  font-family: var(--font-2);
  font-weight: 300;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.btn button:hover
{
  background-color: #9DACCA;
}

img
{
  width: 450px;
}



@media screen and (max-width: 1024px) and (min-width: 768px) {
  section
  {
    height: 815px;
  }

  .cards
  {
    flex-direction: column;
    gap: 20px;
    margin-inline: 32px;
    overflow-x: scroll;
  }
}



@media screen and (max-width: 767px){


  section
  {
    height: 600px;
  }


  header h1::before
  {
    width: 100%;
    top: 0;
    left: 0;
  }


  header h1::after
  {
    width: 100%;
    top: 100%;
    left: 0;
  }

  header p
  {
    font-size: 13px;
    text-align: center;
  }

  img
  {
    width: 245px;
  }

  .cards
  {
    flex-wrap: nowrap;
    overflow-x: scroll;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin-inline: 10px;
  }

  .box
  {
    height: 77%;
  }

}




